header{
	background-color: #BBBBBB;

}

.container{
    position: relative;
    width: 940px;
    margin: 0 auto;
}

nav {
	font-family: 'Cormorant Garamond', serif;
    position: absolute; 
    top: 110px; 
    right: 0; 
}

nav ul {
	display: inline;
    margin: 0 0 0 16px;

}

nav li {
    display: inline;
    margin: 0 0 0 16px;
}

nav li a {
    text-transform: uppercase;
    color: #000000;
    font-weight: bold;
    font-size: 22px;
    text-decoration: none;
}

nav a:hover{
    color: #F7D358;
    text-decoration: underline;
}

nav a:hover:active{
    color: #DF7401;
}

#banner {
    margin: 15px 0px 10px 60px;
	width: 60%;
    border-radius: 20px;
}

.principal{
    display: inline-block;
    background: #FFFFFF;
}

.texto{
    position: absolute;
    margin: 60px 30px 20px 20px;
    display: inline-block;
}

h2 {
    font-family: 'Cormorant Garamond', serif;
    font-weight: bold;
    font-size: 30px;
	text-align: center;
    margin: 0 10px 40px 50px;
    border-bottom: 4px solid #F7D358;
}

p {
    font-family: 'Cormorant Garamond', serif;
    font-size: 20px;
    font-weight: bold;
	text-align: center;
    padding: 5px 0px 10px 0px;
}

.itens {
    font-family:'Cormorant Garamond', serif;
	font-style: italic;
    font-size: 25px;
    margin-top: 20px;
    display: flex;
    justify-content: center;
}

.beneficios {
    display: inline-block;
	background: #FFFFFF;
	padding: 20px;
}

.beneficios h3 {
    display: flex;
    justify-content: flex-start;
    padding-left: 300px;
    font-family:'Cormorant Garamond', serif;
    font-size: 30px;
    font-weight: bold;
}

ul {
	display: inline-block;
	vertical-align: top;
	margin-right: 15%;
}

.imagembeneficios {
	width: 40%;
    border-radius: 20px;
}

footer {
    text-align: center;
    background: url(../img/bg.jpg);
    padding: 40px 0;
}

.copyright {
    color: #fff;
    font-size: 13px;
    margin: 0 20px 0;
}